extends ../layout.jade
block content
    div.container
        div.row
            each movie in movies
                div.col-sm-4.col-md-2
                    div.thumbnail
                        img(src='#{movie.poster}', alt='#{movie.title}', style='width:100%; height: 200px')
                        div.caption
                            h5 #{movie.title}
                            a.btn.btn-primary(href='/movie/#{movie._id}', role='button') 播放