extends ../layout.jade
block content
    div.container
        form.form-horizontal
            div.form-group
                lable.col-sm-2.control-label 导演
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label 地区
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label 片名
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label 年份
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label 海报
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label 语种
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label flash
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                lable.col-sm-2.control-label 简介
                div.col-sm-10
                    input(type='text',class='form-control')
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type='submit') 添加